
<md-toolbar class="md-hue-2" ng-init="$ctrl.totalGastado = 0">
  <md-content  layout="row" layout-wrap layout-align="space-around start">
        <md-card
        flex = "40"
        ng-repeat="(id, item ) in $ctrl.listaProductos">
          <md-card-title>
            <md-card-title-text>

              <span class="md-headline" >Precio: {{item.precio | currency : ""}} €</span>
              <span class="md-headline" >Marca: {{item.marca}}</span>
              <span class="md-headline" >Categoria: {{item.categoria}}</span>
              <span data-ng-if="item.descuento != 0" class="md-headline">Descuento: {{item.descuento}} % </span>
              <span class="md-subhead" >ID: {{item.id }}</span>

            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"><img src="{{item.imagenUrl}}" alt=""> </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <input ng-model="item.cantidad"
            ng-change="$ctrl.onUpdateItem({itemId: id, cantidad: item.cantidad})"
             type="number" name="cantidad" value="0">
          </md-card-actions>
        </md-card>

</md-toolbar>
