  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">

      <h2 flex md-truncate>{{$ctrl.title}}</h2>

      <md-button
      ng-click="$ctrl.showMeTheModal()"
      class="md-raised md-accent md-hue-3" aria-label="Learn More">
      Learn More
    </md-button>

  </div>
</md-toolbar>
