<md-button ng-click="$ctrl.modo = 'cards'"> Bloque </md-button>
<md-button ng-click="$ctrl.modo = 'table'"> Lista </md-button>
<div ng-switch="$ctrl.modo">
  <div ng-switch-default ng-transclude="card"></div>
  <div ng-switch-when="table" ng-transclude="table"></div>
</div>
  <div ng-transclude="resumen"></div>
  
