</md-content>
  <custom-header title="{{$ctrl.title}}"></custom-header>
  <mercacosa-shop>
    <product-table products="$ctrl.productos" on-update-item="$ctrl.updateItem(itemId, cantidad)"></product-table>
    <product-cards products="$ctrl.productos" on-update-item="$ctrl.updateItem(itemId, cantidad)"></product-cards>
     <md-card>
       <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Total: {{$ctrl.total || 0}}</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
       </md-card-content>
       <md-card-actions layout="row" layout-align="end center">
         <md-button>Action 1</md-button>
         <md-button>Action 2</md-button>
       </md-card-actions>
     </md-card>
  </mercacosa-shop>

  <pre ng-if="false"> {{$ctrl.productos | json}} </pre>
<md-content>
