<div>
  <md-content>
    <md-list flex>
      <md-list-item
      ng-repeat="(key,item) in tabla.list">
        <p>{{item.categoria}}</p>
        <p>{{item.marca}}</p>
        <p>{{item.precio}}</p>
        <p>{{item.descuento}}</p>
        <img width="20%" ng-src="{{item.imagenUrl}}">
        <md-input-container>
          <label>Cantidad</label>
          <input type="number" value="0" step="1"
          name="cantidad"

          ng-model="item.cantidad"
          ng-change="tabla.onUpdateItem({itemId:key, cantidad: item.cantidad})" >

          <md-button  ng-click="item.cantidad = item.cantidad + 1">
            +
          </md-button>

          <md-button ng-click="item.cantidad = (item.cantidad > 0) ? (item.cantidad - 1) : 0">
            -
          </md-button>
        </md-input-container>
      </md-list-item>
    </md-list>
    <h2>{{tabla.total || 0}}</h2>
  </md-content>
</div>
